<div class="col-lg-8 col-centered">
  <p id="notice"><%= notice %></p>

  <legend>Adicionais</legend>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imagem </th>
        <th>Preço</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cup_add_ons.each do |cup_add_on| %>
        <tr>
          <td><%= cup_add_on.name %></td>
          <td> <img src=<%= asset_path(cup_add_on.image_url.gsub('public/', '')) %> width="80" height="80"> </td>          <td><%= cup_add_on.price %></td>
          <td><%= link_to 'Mostrar', cup_add_on %></td>
          <td><%= link_to 'Editar', edit_cup_add_on_path(cup_add_on) %></td>
          <td><%= link_to 'Excluir', cup_add_on, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Adicional', new_cup_add_on_path, :class => "btn btn-success" %>

</div>