<%= form_for(cup, multipart: true) do |f| %>
  <% if cup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cup.errors.count, "error") %> prohibited this cup from being saved:</h2>

      <ul>
      <% cup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :image_url, "Imagem" %>
        <%= f.file_field :image_url, class: 'form-control' %>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <%= f.label :price, "Preço"%>
        <%= f.number_field :price, class: 'form-control', step: '0.01' %>
      </div>
    </div>
  </div>

  <div class="actions">
  <p>
    <%= f.submit "Salvar", :class => "btn btn-success" %>
    <p>
  
  </div>
<% end %>
