<div class="col-lg-8 col-centered">
  <p id="notice"><%= notice %></p>

  <legend>Copos</legend>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Preço</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @cups.each do |cup| %>
        <tr>
          <td><%= cup.name %></td>
          <td> <img src=<%= asset_path(cup.image_url.gsub('public/', '')) %> width="50" height="80"> </td>
          <td><%= cup.price %></td>
          <td><%= link_to 'Mostrar', cup %></td>
          <td><%= link_to 'Editar', edit_cup_path(cup) %></td>
          <td><%= link_to 'Excluir', cup, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Novo Copo', new_cup_path, :class => "btn btn-success" %>

</div>