<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @cup.name %>
</p>

<p >
  <strong>Imagem:</strong>
  
  <%= image_tag(asset_path(@cup.image_url.gsub('public/', ''))) if @cup.image_url %>
 
</p>

<p>
  <strong>Pre&ccedil;o:</strong>
  <%= @cup.price %>
</p>

<%= link_to 'Editar', edit_cup_path(@cup) %> |
<%= link_to 'Voltar', cups_path %>
