<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :customer %>
    <%= f.text_field :customer, class: 'form-control' %>
  </div>

  <legend>Itens</legend>

  <%= f.nested_fields_for :items do |item_form| %>
    
    <div class="panel panel-default">
      <div class="panel-body">
        
        <% Cup.all.each do |cup| %>
          <div class="col-lg-4">
            <div class="form-group">
              <%= item_form.radio_button :cup_id, cup.id %>
              <%= item_form.label :cup_id, cup.name %>
            </div>
          </div>
        <% end %>

    
            <%= item_form.nested_fields_for :add_ons do |add_on_form| %>
              <%= add_on_form.collection_check_boxes :cup_add_on_id, CupAddOn.all, :id, :name %>
            
            <% end %>
    
    
        <%= item_form.add_nested_fields_link :add_ons %>

      </div>
    </div>
    
    
  <% end %>
  <%= f.add_nested_fields_link :items %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
